<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>游戏</title>
  <link rel="shortcut icon" href="./../assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./../css/common.css">
</head>
<body>
  <div id="backgroud">
    <div id="dom_map" style="background: url(./../assets//img//maps/map001.png) no-repeat center;">
      <div id="gold_box"></div>
      <img id="hero" src="./../assets/img/hero-right.png" />
    </div>
    <div id="game_tip">
      <!-- <div id="map_number"><img src="./../assets/img/maptitle/tipMap1.png" alt="" /></div> -->
      <div id="map_title">关卡一的提示语</div>
    </div>

    <div id="order_select"></div>
    <div id="right_orders">
      <ul id="orders">
        <li id="order_0" class="dir "></li>
        <li id="order_1" class="dir "></li>
        <li id="order_2" class="dir "></li>
        <li id="order_3" class="dir "></li>
        <li id="order_4" class="dir "></li>
        <li id="order_5" class="dir "></li>
        <li id="order_6" class="dir "></li>
        <li id="order_7" class="dir "></li>
      </ul>
    </div>

    <span id="btn_select"></span>
    <div id="btn_order">
      <div id="walk"><img src="" /></div>
      <div id="left"><img src="" /></div>
      <div id="right"><img src="" /></div>
      <div id="loop"><img src="" /></div>
      <div id="cancel"><img src="" /></div>
    </div>

    <div id="preview">
      <div id="order_view_walk" class=""></div>
      <div id="order_view_left" class=""></div>
      <div id="order_view_right" class=""></div>
    </div>

    <div id="xunhuan">
      <ul id="xun_orders">
        <li id="xun_0" class="xun "></li>
        <li id="xun_1" class="xun "></li>
        <li id="xun_2" class="xun "></li>
        <li id="xun_3" class="xun "></li>
        <li id="xun_4" class="xun "></li>
        <li id="xun_5" class="xun "></li>
        <li id="xun_6" class="xun "></li>
        <li id="xun_7" class="xun "></li>
      </ul>
    </div>

    <span id="playFocus"></span>
    <span id="footFocus"></span>
    <div id="footer">
      <div id="play"><img src="./../assets/img/btn-play.png" alt="" /></div>
      <div id="reset"><img src="./../assets/img/reset.png" alt="" /></div>
      <div id="toback"><img src="./../assets//img/toback.png" alt="" /></div>
    </div>

    <div id="mask">
      <div id="over_select"></div>
      <!-- reset left 51% -->
      <div id="game_over">
        <ul id="star">
          <li id="star_item1"><img src="" alt=""/></li>
          <li id="star_item2"><img src="" alt=""/></li>
          <li id="star_item3"><img src="" alt=""/></li>
        </ul>
        <div id="over_btn">
          <div id="next_game"><img src="./../assets/img/nextGame.png" alt="" /></div>
          <div id="reset_game"><img src="./../assets/img/resetGame.png" alt="" /></div>
        </div>
      </div>
    </div>

    <div id="faile_prompf">
      <!-- 失败后的错误提示 -->
    </div>
  </div>
  <script src="./../lib/jquery.js"></script>
  <script src="./../js/store.js"></script>
  <script src="./../js/common.js"></script>
  <script>
    window.onload = function(){
        this.startDom();
        var playerImg = document.querySelector("#hero")
        playerImg.style.top = '58px'
        playerImg.style.left = '58px'

    }

  </script>
</body>
</html>